@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* font-family: 'Open Sans', sans-serif; */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  /*colors*/
  --bg-main: rgb(224, 224, 224);
  --bg-main2: rgb(178, 178, 178);
  --bg-secondary: #9b9ad1;

  --text-main: #553c7e;
  --text-focus: #2a1d3e;
  --text-secondary: #f47c00;

  --color420: #f47c00;
  background-color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
